@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter;
  background-color: #0f0f0f;
}
.section_heading {
  color: rgb(255, 255, 255);

  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.btn_primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn_secondary {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn_mobile_join {
  display: none;
}
.btn_primary:hover {
  background: rgb(255, 99, 71);
}
.btn_secondary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(230, 83, 60);
}
.max_width {
  max-width: 1060px;
  margin: 0px auto;
}

/* header style */
header {
  box-sizing: border-box;
  background: linear-gradient(#111111 0%, #77777722 50%, #111111 100%);
}
.header_container {
  max-height: 715px;
  margin: 0px auto;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 57px 0px 32px;
  min-height: 46px;
}
.logo_text h2 {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  text-align: left;
  font-style: italic;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  gap: 47px;
  padding: 4px;
}

.header_nav a {
  border-radius: 46px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease;
}
.header_nav a:hover,
.active_nav {
  background: rgb(230, 83, 60);
}
.mobile_nav {
  display: none;
  padding: 10px 20px;
}

/* mobile nav  */

.mobile_menu {
  position: relative;
  display: none;
}

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.hero_content h1 {
  color: rgb(255, 255, 255);

  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
}
.hero_content h1 span {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 156px;
}
.hero_content p {
  margin: 28px 60px 28px 0px;
}
.hero_content .btn_primary {
  margin-right: 14px;
}
.hero_img {
  position: relative;
}
.workout {
  position: absolute;
  top: 125px;
  right: -74px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 16px 24px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.video_tutorial {
  position: absolute;
  left: -95px;
  bottom: 63px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px 23px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.tutorial_text h4 {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}
.square_box {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 100%;
}
/* habit section css */
.habit_section {
  margin: 100px auto;
}
.habit_title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0px 6px;
  text-align: center;
}

.habit_section h2,
.habit_section p {
  text-align: center;
}
.habit_section > p {
  margin-top: 14px;
}
.habit_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  margin-top: 58px;
}
.habit_image {
  text-align: center;
}
.habit_image p {
  line-height: 18px;
}

.habit_image img {
  border-radius: 100%;
}
/* run extra section */
.run_extra {
  display: flex;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  background: rgb(34, 34, 34);
  box-sizing: border-box;
  margin-bottom: 100px;
  gap: 165px;
  padding: 32px 32px 32px 54px;
}
.run_extra p {
  line-height: 24px;
  margin: 14px 0px 34px;
}

.run_extra img {
  width: 366px;
  height: 322px;
  border-radius: 18px;
  object-fit: none;
  object-position: 67% 60%;
}
/* services section  */
.services_container {
  margin: 80px auto 166px;
}
.services_container h2 {
  margin-bottom: 14px;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 48px;
}
.service {
  background-color: rgb(34, 34, 34);
  color: #fff;
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
  gap: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.service:hover {
  /* box-shadow: 0 4px 16px rgba(230, 83, 60, 0.6); */
  filter: drop-shadow(0 4px 16px rgba(230, 83, 60, 0.6));
}
.service_content p {
  margin: 24px 0px 12px;
}
.service_content a {
  text-decoration: none;
  color: rgb(230, 83, 60);
}
/* trainings section  */

.training_gallery {
  grid-template-rows: 200px 200px;
  display: grid;
  grid-template-columns: repeat(106, 1fr);
  margin: 60px auto 80px;
}
.training_heading p {
  margin-top: 14px;
}
.training_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.5s;
}

.image_1 {
  position: relative;
  grid-column: span 25;
  overflow: hidden;
}

.image_2 {
  position: relative;
  grid-column: span 52;
  overflow: hidden;
}

.image_3 {
  position: relative;
  grid-column: span 29;
  overflow: hidden;
}

.image_4 {
  position: relative;
  grid-column: span 42;
  overflow: hidden;
}

.image_5 {
  position: relative;
  grid-column: span 29;
  overflow: hidden;
}

.image_6 {
  position: relative;
  grid-column: span 35;
  overflow: hidden;
}
.image_1 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 255, 210, 0.5);
  transition: all 0.5s ease-in;
}
.img_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.image_1 .img_text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #000;
}
.image_2 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 0.5s ease-in;
}
.image_2 .img_text {
  position: absolute;
  left: 28px;
  top: 24px;
}
.image_3 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
}
.image_3 .img_text {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.image_4 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
}
.image_4 .img_text {
  position: absolute;
  right: 28px;
  top: 24px;
}
.image_5 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 255, 0, 0.3);
  transition: all 0.5s ease-in;
}
.image_5 .img_text {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.image_6 .img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 71, 255, 0.3);
  transition: all 0.5s ease-in-out;
}
.image_6 .img_text {
  position: absolute;
  bottom: 24px;
  left: 28px;
}

.image_1:hover .img_overlay {
  background-color: rgba(6, 255, 210, 0);
}
.image_1:hover img {
  transform: scale(1.2);
}
.image_2:hover .img_overlay {
  background-color: rgba(255, 0, 0, 0);
}
.image_2:hover img {
  transform: scale(1.2);
}
.image_3:hover .img_overlay {
  background-color: rgba(0, 0, 0, 0);
}
.image_3:hover img {
  transform: scale(1.2);
}
.image_4:hover .img_overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.image_4:hover img {
  transform: scale(1.2);
}
.image_5:hover .img_overlay {
  background-color: rgba(66, 255, 0, 0);
}
.image_5:hover img {
  transform: scale(1.2);
}
.image_6:hover .img_overlay {
  background-color: rgba(0, 71, 255, 0);
}
.image_6:hover img {
  transform: scale(1.2);
}
/* BMI section  */
.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 12px;
  margin-bottom: 34px;
}

#height,
#age {
  grid-column: 1;
}

#weight,
#sex {
  grid-column: 2;
}

#activity {
  grid-column: span 2;
}

.bmi {
  color: #fff;
  background: rgb(34, 34, 34);
}
.bmi table {
  margin-top: 52px;
  border-collapse: collapse;
}
.bmi table tr td {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 14px 28px 14px 18px;
  font-size: 14px;
  font-weight: 400;
}
.bmi table th {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  text-align: left;
  padding: 14px 28px 14px 18px;
}
.bmi_heading {
  margin: 0px 0px 88px 195px;
}
.bmi_main {
  padding: 52px 0px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
#height,
#weight,
#age,
#sex {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255);
  padding: 12px 40px 12px 20px;
}

#sex,
input::placeholder {
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
#activity {
  border: none;
  border-radius: 8px;
  background: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.6);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
#sex {
  background-color: rgb(57, 57, 57);
}
#sex,
#activity {
  border-right: 20px solid transparent;
}

.bmi_calculate {
  width: 55%;
}
.bmi_calculate p {
  margin: 14px 0px 34px;
}
.bmi_chart h2,
.bmi_calculate h2 {
  font-size: 28px;
  font-weight: 900;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

/* Team Section  */
.team h2,
.team > p {
  text-align: center;
}
.team h2 {
  margin: 88px 0px 14px;
}
.team_galary {
  position: relative;
  cursor: pointer;
}

.team_galary img {
  width: 100%;
  height: 280px;
  border-radius: 18px;
  object-fit: cover;
}
.team_galary_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 18px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 60px;
}
.team_galary:hover .team_overlay {
  background: rgba(0, 0, 0, 0);
}
.team_galary:hover .team_name h3 {
  font-size: 20px;
}

.team_overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 0.3s ease-in;
}
.team_name {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.team_name h3 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
/* footer section  */
footer {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 108px;
}

.footer_content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* max-width: 1060px;
  margin: 0px auto; */
  padding: 65px 0px 80px;
  gap: 150px;
}
.footer_logo h2 {
  color: rgb(230, 83, 60);

  font-size: 70px;
  font-weight: 800;
}
footer h3 {
  color: rgb(255, 255, 255);

  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer nav a {
  color: rgba(255, 255, 255, 0.5);

  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
}
footer nav a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer_nav2 {
  justify-self: end;
}
.footer_copyright {
  max-width: 1060px;
  margin: 0px auto;
}
.footer_copyright p {
  font-size: 20px;
  padding: 36px 0px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.hide {
  display: none;
}
.play_icon {
  display: none;
}

/* Responsive */
/* Small devices */
@media screen and (max-width: 576px) {
  /* main {
    padding: 0px 20px;
  } */
  .max_width {
    max-width: 100%;
  }
  .section_heading {
    font-size: 32px;
  }
  .header_container {
    max-height: inherit;
  }
  .logo_container {
    margin: 50px 20px;
  }
  .hero_section {
    flex-direction: column;
    padding: 0px 20px;
  }
  .hero_content h1 {
    font-size: 36px;
  }
  .hero_content h1 span {
    font-size: 56px;
  }
  .hero_content p {
    margin: 28px 110px 28px 0px;
  }
  .btn_mobile_join {
    display: inline;
    font-size: 16px;
    padding: 14px 35px;
  }
  .btn_secondary {
    font-size: 16px;
    padding: 14px 35px;
  }
  .btn_desktop_join {
    display: none;
  }
  .workout {
    top: 50px;
    right: 0px;
    padding: 12px 18px;
  }
  .workout p {
    font-size: 10px;
  }
  .video_tutorial {
    left: 12px;
    bottom: 250px;
  }
  .play_icon {
    display: block;
    width: 56px;
    margin-bottom: -14px;
  }
  .square_box {
    display: none;
  }
  .mobile_menu {
    display: block;
  }

  .mobile_nav_menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 30px;
    right: -20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  #menu-checkbox {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
  }
  #menu-checkbox:not(:checked) ~ .menu-icon #close-icon {
    display: none;
  }
  #menu-checkbox:checked ~ .menu-icon #hamburger-icon {
    display: none;
  }
  #menu-checkbox:checked ~ .menu-icon #close-icon {
    display: block;
  }
  #menu-checkbox:not(:checked) ~ .menu-icon #hamburger-icon {
    display: block;
  }
  #menu-checkbox:checked ~ nav {
    display: block;
    text-align: center;
  }
  .mobile_nav_menu {
    /* box-sizing: border-box; */
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border-radius: 39px; */
  }
  .mobile_nav_menu ul {
    list-style: none;
  }
  .mobile_nav_menu ul li {
    margin-top: 20px;
    /* border-bottom: 1px solid gray; */
  }
  .mobile_nav_menu ul li a {
    border-radius: 45px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background 0.5s;
  }
  .mobile_nav_menu ul li a:hover {
    background: rgb(230, 83, 60);
  }

  .header_nav {
    display: none;
  }
  .mobile_nav:hover .header_nav {
    display: block;
  }
  .habit_images {
    grid-template-columns: repeat(1, 1fr);
  }
  .habit_section {
    margin: -100px auto 66px;
    padding: 0px 36px;
    position: relative;
    background-color: #0f0f0f;
  }
  .habit_section h2 {
    font-size: 32px;
  }
  .habit_image {
    padding: 0px 48px;
  }
  .run_extra {
    flex-direction: column;
    gap: 50px;
    padding: 32px;
    width: 92%;
    box-sizing: border-box;
  }
  .run_extra .btn_primary {
    width: 100%;
  }
  .run_extra img {
    width: 287px;
    height: 170px;
    object-fit: cover;
  }
  .bmi_main {
    flex-direction: column;
    align-items: start;
  }
  #height,
  #weight,
  #age,
  #sex {
    /* width: 40%; */
  }
  .team_galary_container {
    grid-template-columns: 1fr;
    box-sizing: border-box;
    width: 92%;
    margin: 56px auto 86px;
  }
  .footer_content {
    grid-template-columns: 1fr;
    padding: 44px 56px 72px 20px;
    gap: 20px;
  }
  .footer_logo {
    margin-bottom: 10px;
  }
  .footer_nav2 {
    justify-self: start;
  }
  .footer_copyright p {
    text-align: left;
    padding-left: 20px;
  }
  .services_container {
    margin: 80px auto;
    padding: 0px 24px;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .bmi_heading {
    margin: 32px 20px;
  }
  .bmi_heading h2 {
    margin-bottom: 14px;
  }
  .bmi_chart h2,
  .bmi_calculate h2 {
    font-size: 16px;
  }
  .bmi_main {
    padding: 34px 20px 42px;
  }
  .bmi table {
    margin-top: 23px;
  }
  .bmi_calculate {
    width: 100%;
  }
  .form_container {
    display: grid;
    grid-template-columns: 48% 48%;
  }
  .galary_img_1,
  .galary_img_4 {
    display: none;
  }
  .galary_img_3 {
    grid-row: 3;
  }
  .galary_img_2 h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
  }
  .training_container {
    padding: 0px 20px;
  }
  .image_3,
  .image_6 {
    display: none;
  }
  .training_gallery {
    grid-template-rows: 128px 128px;
    grid-template-columns: repeat(35, 1fr);
  }
  .image_1 {
    grid-column: span 17;
  }
  .image_2 {
    grid-column: span 18;
  }
  .image_4 {
    grid-column: span 16;
  }
  .image_5 {
    grid-column: span 19;
  }
}
